.app-container {
    background-color: whitesmoke;
    height: 100vh;
}
.listitem {
    padding: 5px;
    margin-bottom: 2px;
}

.list {
    background-color: white;
    margin-top: 30px;
    width: max-content;
    list-style: circle;
    margin-left: 0px;
}

.task-name {
    margin-right: 20px;
    font-family: cursive;
}

.add_task_input {
    margin-right: 50px;
    font-family: monospace;
    min-width: 250px;
    border: 2px solid;
    padding: 5px;
    border-radius: 5px;
}

.add_task_input:focus {
    position: relative;
    transform: scale(1.1);
}

.add_task_button {
    font-weight: bold;
    font-family: cursive;
    padding: 5px;
    min-width: 80px;
    background-color: rgba(23,67,88,0.3);
    border-radius: 5px;
}

.add_task_button:hover{
    background-color: rgba(23,67,88,0.5);
    transform: scale(1.05);
}

.done-button {
    display: inline;
    margin-left: 5px;
    font-weight: bold;
    font-family: cursive;
    padding: 5px;
    min-width: 30px;
    background-color: #4CAF50;
    opacity: 0.85;
    border-radius: 5px;
}

.done-button:hover{
    opacity: 1;
    transform: scale(1.05);
}

.delete-button {
    color: white;
    font-weight: bold;
    font-family: cursive;
    margin-left: 5px;
    padding: 5px;
    min-width: 80px;
    background-color: #FF0000;
    opacity: 0.85;
    border-radius: 5px;
}

.delete-button:hover{
    opacity: 1;
    transform: scale(1.05);
}

#page-title {
    background-color: white;
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-family: cursive;
}

.form-container {
    display: flex;
    justify-content: center;
}

.list-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.task-button-container{
    display: inline;
    float: right;
    justify-content: flex-end;
}

::-webkit-input-placeholder {
    font-weight: bold;
}

